body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  color: #4d5156;
}

article {
  overflow: hidden;
  max-height: 90px;
}

article h1,h2,h3,h4,h5,h6 {
  font-size: 1.2em;
  font-weight: 300;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

article p {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

article a {
  color: #4d5156;
}

a.note_link {
  color: #1a0dab;
  text-decoration: none;
}

a.note_link:hover {
  text-decoration: underline;
}

.note_link h3 {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.note_block {
  margin: 0 0 30px;
}
